<link rel="import" href="/src/sc-midi-js/sc-midi-js.html">
<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-signals/iron-signals.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">

<script src="/lib/sc-player.js"></script>

<dom-module id="sc-player">

    <template>
        <!-- Chargement d'un document MIDI/MP3 -->
        <iron-signals on-iron-signal-player-load="load"></iron-signals>
        <!-- Lecture d'un echantillon -->
        <iron-signals on-iron-signal-player-sample="sample"></iron-signals>
        <iron-signals on-iron-signal-player-mute="mute"></iron-signals>
        <iron-signals on-iron-signal-player-solo="solo"></iron-signals>
        <!-- Changement du temps courrant -->
        <iron-signals on-iron-signal-player-set-time="setTime"></iron-signals>


        <!-- Lecture -->
        <iron-signals on-iron-signal-player-play="play"></iron-signals>
        <!-- Mise en pause -->
        <iron-signals on-iron-signal-player-pause="pause"></iron-signals>
        <!-- Arrêt de la lecture -->
        <iron-signals on-iron-signal-player-stop="stop"></iron-signals>

        <paper-spinner id="midi-load-spinner"></paper-spinner>
    </template>

    <script>
        Polymer({

            is: 'sc-player',

            player: undefined,

            time: new scMusicalTime.MusicalTime(100, 4),

            load(event, data) {

                if (data.type == 'MIDI')
                    this.player = new scPlayer.MIDIPlayer()

                if (data.type == 'MP3')
                    this.player = new scPlayer.MP3Player()


                this.player.init()
                    .then(() => {

                        const spinner = document.querySelector("#midi-load-spinner")
                        spinner.setAttribute("active", true)

                        this.player.load(data.source, 100)
                            .then(() => {

                                spinner.removeAttribute("active")
                                this.player.addListener(status => {
                                    this.fire('iron-signal', {
                                        name: 'player-update',
                                        data: status
                                    })
                                })
                            })
                    })
                    .catch(e => console.error(e))
            },

            sample(event, data) {

                let start = this.time.toMillisecond(data.start)
                let duration = this.time.toMillisecond(data.duration)

                this.player.sample(start, duration, data.channel)
            },
            mute(event, data) {

                this.player.mute(data.channel)
            },
            solo(event, data) { console.log(event, data) },

            setTime(event, data) {
                this.player.setTime(data.time)
            },

            play(event, data) {
                this.player.play()
            },
            pause(event, data) {
                this.player.pause()
            },
            stop(event, data) {
                this.player.stop()
            }
        })
    </script>

</dom-module>
