<dom-module id="raphael-scale-left">
  <template>
    <style>
    </style>
    <h2>Resize gauche</h2>
    <div id="scale-left"></div>
  </template>

  <script>
    Polymer({

      is: 'raphael-scale-left',
      ready: function () {

        var paper = Raphael("scale-left", "100%", 50);

        var rectangle = paper.rect(
          370, 0, 260, 50, 10
        ).attr (
          {
            fill: "#f00",
            stroke: "#fff",
            opacity: "0.2"
          }
        ).drag (
          function (dx) {
            this.attr({width: this.owidth - dx, x: this.ox + dx});
          },
          function (x, event) {
            this.owidth = this.attr("width");
            this.ox = this.attr("x");
          }
        );
      }
    });
  </script>
</dom-module>
