<dom-module id="sc-scrollable">

    <template>
        <sc-scrollable-box scroll-target="material-scrollable">
            <paper-material id="material-scrollable" style="overflow-x: scroll;">
                <content></content>
            </paper-material>
        </sc-scrollable-box>
    </template>

    <script>

        Polymer({

            is: 'sc-scrollable',

            properties: {
                containerId: String
            }

        });

        </script>

</dom-module>
