<!-- Ensure Web Animations polyfill is loaded since neon-animation 2.0 doesn't import it -->
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">

<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="sc-controls">
  <template>
      <paper-menu-button>
          <paper-icon-button icon="cloud-download" title="load analysis" slot="dropdown-trigger"></paper-icon-button>
          <paper-listbox id="analysesMenu" slot="dropdown-content" on-iron-select="selectAnalysis" selected="{{selectedAnalysis}}">
            <template is="dom-repeat" items="{{analyses}}" as="analysis">
              <paper-item>[[analysis]]</paper-item>
            </template>
        </paper-listbox>
      </paper-menu-button>

      <span>[[selectedAnalysisName]]</span>

      <paper-icon-button icon="cloud-upload" title="save analysis" on-tap="openSaveDialog"></paper-icon-button>
      <paper-dialog id="saveDialog" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
        <h2><iron-icon icon="cloud-upload"></iron-icon> &nbsp; Save analysis</h2>
        <paper-input label="Name" value="{{defaultAnalysisName}}"></paper-input>
        <p><b>Preview version.</b>
          Saved analysis are now stored <br />on a public account and regularly deleted.
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm autofocus  on-tap="save">OK</paper-button>
        </div>
      </paper-dialog>

      <paper-icon-button icon="subject" title="export analysis" on-tap="displayJson"></paper-icon-button>
      <paper-dialog id="jsonDialog" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
        <h2><iron-icon icon="subject"></iron-icon> &nbsp; Export analysis</h2>
        <p>The following data, in .json format, represent all labels
          <br />and may be used in other programs.
          <br /><b>Preview version.</b> This format may evolve.</p>
        <paper-dialog-scrollable>
        </paper-dialog-scrollable>
      </paper-dialog>

      <iron-ajax
          auto
          url={{url}}
          handle-as="json"
          on-response="getAnalyses"
          debounce-duration="300"></iron-ajax>

  </template>

  <script>
    Polymer({

      is: 'sc-controls',

      properties: {
          target: String,
          url: {
              type: String,
              observer: '_onUrlChanged'
          },
          schema: Object,
          defaultAnalysisName: {
              type: String,
              value: "new_analysis"
          },
          selectedAnalysis: {
              type: Number,
              value: 0
          },
          selectedAnalysisName: String,
      },

      ready: function () {
        this.lockicon = "lock-open";
      },

      getAnalyses: function (data) {
          let analysesFileNames =  data.detail.response;
          let selected = 0;
          let analysesNames = []
          let i = 0;
          for (let fileName of analysesFileNames) {
              if (fileName.endsWith(".dez")) {
                  analysesNames.push(fileName.substr(0, fileName.length - 4));
                  if (fileName.endsWith("-reference.dez")) {
                      selected = i;
                  }
                  i++;
              }
          }
          this.analyses = analysesNames;
          this.selectedAnalysis = selected;
          this.selectedAnalysisName = this.analyses[this.selectedAnalysis];
      },

      _onUrlChanged: function () {
          // initialise before request new piece analyses
          this.analyses = [];
      },

      _notifyNewAnalysisRequested: function (url) {
          this.fire(
            'iron-signal',
            {
              name: 'load-new-analysis',
              data: {
                  url: url
              }
            }
          );
      },

      selectAnalysis: function (e, detail) {
          this._notifyNewAnalysisRequested(this.url + detail.item.innerText + ".dez");
          this.selectedAnalysisName = detail.item.innerText;
      },

      displayJson: function () {
          var html = "<pre style='margin-left:50px; margin-right:100px;'>"
                      + this.schema.toJson() + "</pre>";
          var scrollable = this.$.jsonDialog.lastElementChild;
          scrollable.innerHTML = html;
          this.$.jsonDialog.open();
      },

      openSaveDialog: function () {
          this.defaultAnalysisName = this.selectedAnalysisName;
          this.$.saveDialog.open();
      },

      save: function () {
          this.schema.saveAs(this.defaultAnalysisName);
          if (!this.analyses.includes(this.defaultAnalysisName)) {
              this.analyses.push(this.defaultAnalysisName);
              this.analyses.sort();
              let item = document.createElement('paper-item')
              item.appendChild(document.createTextNode(this.defaultAnalysisName));
              let index = this.analyses.indexOf(this.defaultAnalysisName)
              if (index == this.analyses.length - 1) { // last
                  this.$.analysesMenu.appendChild(item);
              } else {
                  let node = this.$.analysesMenu.getElementsByTagName('paper-item')[index];
                  this.$.analysesMenu.insertBefore(item, node)
              }
          }
          if (this.selectedAnalysisName != this.defaultAnalysisName) {
              this.selectedAnalysisName = this.defaultAnalysisName;
              this.selectedAnalysis = this.analyses.indexOf(this.defaultAnalysisName);
          }
      },
    });
  </script>
</dom-module>
