<dom-module id="sc-mini-map">

    <template>
        <iron-ajax
            auto
            url="{{positions}}"
            handle-as="json"
            on-response="handleResponse"
            debounce-duration="300"></iron-ajax>
        <svg id="minimap"></svg>
        <style>
            :root {
                overflow: hidden;
            }
        </style>
    </template>

    <script>
        Polymer({
            is:'sc-mini-map',

            properties:{
                bg:String,
                positions:String
            },

            attached: function() {
                var self = this
                this.img = new Image();
                this.img.src = this.bg;
                this.img.addEventListener("load",function(event) {
                    var height = this.naturalHeight;
                    var width = this.naturalWidth;
                    if (height > window.innerHeight) {
                        height = window.innerHeight;
                        width /= (this.naturalHeight/height);
                    }
                    self.ratio = width/window.innerWidth
                    self.view = new scMinimap.MiniMap(width,height,self.bg,"global",self.ratio);     
                })
            },

             handleResponse:function(data) {
                this.positions = data.detail.response
            },
        })
    </script>
</dom-module>
