<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="dez-debug">
  <template>
    <style>

      app-toolbar {
          height: 20px;
          background-color: grey;
      }

      .open {
          display: block;
          height: 300px;
      }

      .closed {
          display: none;
      }

    </style>

    <app-toolbar>
        <paper-icon-button icon="[[_debugIcon]]" title="[[_debugButtonTitle]]" on-tap="_toggleDebugPanel"></paper-icon-button>
    </app-toolbar>

      <div id="infos" class="closed">
        <!-- timeSig: {{timeSigNum}} / {{timeSigDenum}} + {{timeSigUpbeat}} -->
          <pre>
[[_analysisToString]]
          </pre>
      </div>

  </template>

  <script>
    /**
     * `dez-debug`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DezDebug extends Polymer.Element {
      static get is() { return 'dez-debug'; }

      constructor () {
        super()
        this._groupsOrder = ["top", "staves", "bot"]
        this._debugIcon = "expand-less"
        this._debugButtonTitle = "show debug informations"
      }

      set analysis (analysis) {
        this._analysis = analysis;
        if (!this._analysis.loadingAnalysis) {
          this._analysisToString = this._analysis.toString(this._groupsOrder);
        }
        this._analysis.addEventListener('analysis-ready', event => {
          this._analysisToString = this._analysis.toString(this._groupsOrder);
        })
        this._analysis.addEventListener('label-set', event => {
          this._analysisToString = this._analysis.toString(this._groupsOrder) + "\n" + this._analysis.selectedLabel.toString()
        })
        this._analysis.addEventListener('label-selected', event => {
          this._analysisToString = this._analysis.toString(this._groupsOrder) + "\nSelected label:\n" + this._analysis.selectedLabel.toString()
        })
      }

       _toggleDebugPanel () {
           if (this.$.infos.className == "closed") {
               this.$.infos.className = "open";
               this._debugIcon = "expand-more";
               this._debugButtonTitle = "hide debug informations"
           } else {
               this.$.infos.className = "closed";
               this._debugIcon = "expand-less";
               this._debugButtonTitle = "show debug informations"
           }
       }



    }

    window.customElements.define(DezDebug.is, DezDebug);
  </script>
</dom-module>
