<dom-module id="fabric-view0">
  <template>
    <style>
    </style>
    <canvas id="canvas0" width="500" height="500" style="border: solid">
        You browser does not support canvas!
    </canvas>
  </template>

  <script>
    Polymer({

      is: 'fabric-view0',
      ready: function () {
        // create a wrapper around native canvas element (with id="c")
        var canvas = new fabric.Canvas('canvas0');

        // create a rectangle object
        var rect = new fabric.Rect({
          left: 100,
          top: 100,
          fill: 'red',
          width: 100,
          height: 100,
          opacity: 0.2
        });

        // "add" rectangle onto canvas
        canvas.add(rect);
      }

    });
  </script>
</dom-module>
