<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">

<dom-module id="dez-warning">
  <template>
    <style>
    </style>

    <paper-dialog id="warningDialog" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
      <h2><b>Sorry</b> <br />The Dezrann corpus server is temporarily unavailable, please try again later.</h2>

      <i>Due to the current heatwave in Western Europe, the servers are sometimes down.</i>

      <p>
        Only the <em>Fuga #02 in C minor, BWV 847 (J.-S. Bach)</em> is available with some analyses.
      </p>

      <p>
        You can still export or save analyses (<em>dez</em> format) 
        on your computer (<iron-icon icon="file-download"></iron-icon>)
        and further load them (<iron-icon icon="file-upload"></iron-icon>).
      </p>

      <p>
        For more information,
        please <a href="mailto:dezrann@algomus.fr?Subject=Dezrann&Body=%0ADear%20Algomus%20team%2C%0A%0APlease%20keep%20me%20informed%20of%20the%20development%20of%20Dezrann.%0A%0ABest%20regards%2C%0A%0A">drop us a mail</a>.
      </p>

      <div class="buttons">
          <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>

  </template>

  <script>

  class DezWarning extends Polymer.Element {

      static get is() { return 'dez-warning'; }

      open () {
        this.$.warningDialog.open();
      }

  }

  window.customElements.define(DezWarning.is, DezWarning);

  </script>
</dom-module>
