<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">

<dom-module id="dez-audio-player">
  <template>
    <style>

    :host {
      overflow: hidden ;
      background-color: black;
      padding: 4px 12px;
      margin-left: 12px;
      height: 40px;
      min-width: 88px;
    }

    .info-box {
      display: inline-flex;
      width: 40px;
      height: 18pt;
      text-align: right;
    }

    @media (max-width: 1280px) {
      .hidden-md {
        display: none;
      }
    }

    </style>

      <paper-icon-button
        icon="av:skip-previous"
        title="rewind"
        on-tap="_rewind">
      </paper-icon-button>
      <paper-icon-button
        icon="av:[[_audioAction]]"
        title="[[_audioActionTitle]]"
        on-tap="_execAudioAction">
      </paper-icon-button>
      <audio id="audio" src="[[src]]"></audio>
      <span class="info-box hidden-md">
        [[currentMeasure]]
      </span>
      <span class="info-box hidden-md" style="width: 50px; font-size:70%;">
        [[_currentDate]]
      </span>

  </template>

  <script>

  class DezAudioPlayer extends Polymer.Element {

      static get is() { return 'dez-audio-player'; }

      /**
      * Fired every 20 ms as the music is playing
      *
      * @event new-step-forward
      */

      /**
      * Fired when the rewind button is pressed
      *
      * @event rewind-pressed
      */

      static get properties() {
        return {
          src: {
            type : String,
            observer : '_srcChanged'
          },
          currentMeasure: String
        };
      }

      get currentTime () {
        return this.$.audio.currentTime
      }

      set currentTime (value) {
        this.$.audio.currentTime = value
      }

      get playing () {
        return this._playing
      }

      _execAudioAction () {
        this._initialisation = false
        if (this._audioAction == "play-arrow") {
          this.$.audio.play()
          this._playing = true
          this._audioInterval = setInterval(() => {
            this.dispatchEvent(new CustomEvent('new-step-forward'))
          }, 20);
          this._displayInterval = setInterval(() => {
            if (!this._initialisation) {
              this._formatDate()
            }
          }, 100);
          this._audioAction = "pause"
          this._audioActionTitle = "pause"
        } else { // pause
          this.$.audio.pause()
          this._playing = false
          clearInterval(this._audioInterval)
          this._audioAction = "play-arrow"
          this._audioActionTitle = "play"
        }
      }

      _rewind () {
        this.$.audio.currentTime = 0
        this.currentTime = this.$.audio.currentTime
        this.currentMeasure = ""
        this._currentDate = ""
        this.dispatchEvent(new CustomEvent('rewind-pressed'))
      }

      _formatDate () {
        let roundTime = this.$.audio.currentTime
        if (roundTime == 0) {
          this._cuurrentDate = ""
          return
        }
        let minutes = Math.floor(roundTime/60)
        let seconds = roundTime%60
        this._currentDate = (minutes > 0 ? ("   " + minutes.toString()).slice(-3) + ":" : "   ") + ("0" + seconds.toFixed(1)).slice(-4) + "0"
      }

      _srcChanged () {
        this._initialisation = true
        this._playing = false
        clearInterval(this._audioInterval)
        clearInterval(this._displayInterval)
        this._audioAction = "play-arrow"
        this._audioActionTitle = "play"
        this.currentMeasure = undefined
        this._currentDate = ""
      }

  }

  window.customElements.define(DezAudioPlayer.is, DezAudioPlayer);

  </script>
</dom-module>
