<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="dez-save-file-button">
  <template>

    <style>
    </style>

    <paper-icon-button
     icon="file-upload"
     on-tap="_displayDialog"
     title="save analysis to your computer">
    </paper-icon-button>

    <paper-dialog id="jsonDialog" entry-animation="fade-in-animation" exit-animation="fade-out-animation" with-backdrop>
        <h2 style="user-select: none;"><iron-icon icon="file-upload"></iron-icon> &nbsp; Save or export analysis to your computer</h2>
        <paper-listbox id="formatList" selected="0">
          <template is="dom-repeat" items="[[_formats]]" as="format">
            <paper-item>[[format.desc]]</paper-item>
          </template>
        </paper-listbox>
        <div class="buttons">
          <paper-button dialog-dismiss>Cancel</paper-button>
          <paper-button dialog-confirm autofocus on-tap="_handleOnTap">OK</paper-button>
        </div>
    </paper-dialog>

  </template>

  <script>

    class DezSaveFileButton extends Polymer.Element {

      static get is() { return 'dez-save-file-button'; }

      constructor () {
        super()
        this._formats = [
          {
            code : "dez",
            desc : "Dezrann analysis file (.dez)"
          },
          {
            code : "csv",
            desc : ".csv file"
          }
        ]
      }

      _displayDialog () {
          this.$.jsonDialog.open();
      }

      _handleOnTap () {
        let index = this.$.formatList.selected
        this.dispatchEvent(new CustomEvent('save-button-tap', {
          detail : {
            format : this._formats[index].code
          }
        }))
      }

    }

    window.customElements.define(DezSaveFileButton.is, DezSaveFileButton);
  </script>
</dom-module>
