<script src="../../bower_components/dezrannlib/index.js"></script>

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/dez-music-canvas/dez-music-canvas.html">
<link rel="import" href="../../bower_components/dez-music-canvas/dez-label-editor.html">
<link rel="import" href="../../bower_components/dez-label-bar/dez-edit-bar.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">

<link rel="import" href="../../bower_components/dez-corpus/dez-corpus.html">

<link rel="import" href="../../bower_components/dez-analysis/dez-analysis.html">
<link rel="import" href="../../bower_components/dez-debug/dez-debug.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="brum-global-variable.html">

<link rel="import" href="dez-about.html">
<link rel="import" href="dez-warning.html">
<link rel="import" href="dez-login.html">
<link rel="import" href="dez-profile-menu.html">
<link rel="import" href="dez-analysis-controls.html">
<link rel="import" href="dez-confirm-changes.html">
<link rel="import" href="dez-audio-player.html">
<link rel="import" href="dez-sources-selector.html">
<link rel="import" href="dez-piece-title.html">

<dom-module id="dezrann-app">
  <template>
    <style>

    :host {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    dez-music-canvas {
        flex-grow: 1;
    }

    app-toolbar {
      background-color: #607D8B;
      color: #fff;
      font-family: 'Roboto', 'Noto', sans-serif;
    }

    dez-analysis-controls {
        min-width: 400px;
        flex: 1 0;
        align-self: center;
    }

    @media (max-width: 700px) {
      .hidden-xxs {
        display: none;
      }

      dez-analysis-controls {
        min-width: 240px;
      }
    }

    @media (max-width: 1024px) {
      .hidden-xs {
        display: none;
      }
    }

    @media (max-width: 1280px) {
      .hidden-md {
        display: none;
      }
    }

    </style>

    <app-location route="{{route}}" use-hash-as-path></app-location>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable id="mgv-app" key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-toolbar>

        <template is="dom-if" if="[[!_wsUnreachabledError]]">
          <template is="dom-if" if="[[!collabOn]]">
            <dez-corpus
              location="[[location]]"
              current="[[_pieceId]]"
              stored-user="[[storedUser]]"
              prefix="[[_prefix]]">
            </dez-corpus>
          </template>
        </template>
        <dez-about class="hidden-xs"></dez-about>
        <dez-piece-title class="hidden-xs" title=[[name]] composer=[[composer]]></dez-piece-title>

        <dez-analysis-controls
          id="analysisControls"
          piece-id=[[_pieceId]]
          piece-name=[[name]]
          location="[[_analysesLocation]]"
          stored-user="[[storedUser]]"
          piece-permissions="[[_piecePermissions]]"
          collab-on="[[collabOn]]">
        </dez-analysis-controls>
        <dez-confirm-changes id="changesWillBeLostDialog" ></dez-confirm-changes>

        <dez-sources-selector id="sourcesSelector"></dez-sources-selector>

        <template is="dom-if" if=[[_audioVisible]] on-dom-change="_initAudio">
         <dez-audio-player id="audioPlayer" src="[[_audioFile]]"></dez-audio-player>
        </template>

        <template is="dom-if" if="[[!_wsUnreachabledError]]">
          <template is="dom-if" if="[[_displayLogin]]">
            <template is="dom-if" if="[[!storedUser.loggedin]]">
              <dez-login auth-server="[[_authServer]]"></dez-login>
            </template>
            <template is="dom-if" if="[[storedUser.loggedin]]">
              <dez-profile-menu auth-server="[[_authServer]]"></dez-profile-menu>
            </template>
          </template>
        </template>

    </app-toolbar>

    <template is="dom-if" if="[[_error]]">
      [[_error]]
    </template>
    <dez-music-canvas
      id="analysisView"
      image="[[_imageLocation]]"
      positions-file="[[_positionsLocation]]"
      onset="{{_onset}}"
      type="{{_type}}"
      audio-synchro="[[_audioSynchro]]">
    </dez-music-canvas>

    <dez-analysis id="analysis" stored-user="[[storedUser]]"></dez-analysis>

    <template is="dom-if" if="[[labelBarOn]]" on-dom-change="_initRapidEditor">
      <dez-edit-bar id="editBar"></dez-edit-bar>
    </template>
    <template is="dom-if" if="[[!labelBarOn]]" on-dom-change="_initEditor">
      <dez-label-editor id="editor"></dez-label-editor>
    </template>

    <template is="dom-if" if=[[_debug]] on-dom-change="_initDebug">
        <dez-debug id="debug"></dez-debug>
    </template>

    <iron-ajax
        id="pieceRequest"
        handle-as="json"
        timeout="10000"
        debounce-duration="300"
        on-response="_pieceInfosHandler"
        on-error="_handleAjaxError">
    </iron-ajax>

    <iron-ajax auto url="/config.json" handle-as="json" on-response="_configHandler"></iron-ajax>

    <dez-warning id="warningDialog"></dez-warning>

  </template>

  <script>

  class DezrannApp extends Polymer.Element {

      static get is() { return 'dezrann-app'; }

      static get properties() {
          return {
              location : {
                type: String,
                observer: '_locationChanged'
              },
              labelBarOn : {
                type : Boolean,
                value : false
              },
              collabOn : {
                type : Boolean,
                value : false
              },
              storedUser: {
                type : Object,
                observer : "_handleStoredUserChanged"
              }
          }
      }

      static get observers() {
          return [
              '_routeChanged(route.*)'
          ]
      }

      constructor () {
        super()
        this.name = "connecting...";
        this._bearer = ""
        let user = localStorage.getItem("user-storage")
        if (user) {
          user = JSON.parse(user)
          let payload = JSON.parse(window.atob(user.access_token.split('.')[1]))
          if (payload.exp < Date.now()/1000) {
            localStorage.removeItem("user-storage")
          } else {
            this.storedUser = JSON.parse(localStorage.getItem("user-storage"))
            this._bearer = user.access_token
          }
        }
        this._error = ""
        this._fatalError = ""
      }

      _configHandler (event) {
        let config = event.detail.response
        this._displayLogin = config.displayLogin
        this._authServer = config.authServer
      }

      _handleAjaxError (event) {
        if (event.detail.request.xhr.status == 401) {
          this._error = "Access forbidden!"
        } else {
          this._wsUnreachabledError = "Web service is unreachabled"
          this.name = "Fuga #02 in C minor, BWV 847"
          this.composer = "J.-S. Bach"
          this._setSource (
            {
              "image": "bwv847.png",
              "positions": "positions.json"
            }
          )
          this.$.analysisControls.loadLocalAnalyses()
          this.$.warningDialog.open()
        }
      }

      _generateRequest() {
        if (this._pieceLocation == undefined) return
        if (this._pieceLocation == this._lastUrl) {
          if (this.storedUser == undefined) {
            if (this._lastUserName == undefined) return
          } else {
            if (this.storedUser.name == this._lastUserName) return
          }
        }
        this.$.pieceRequest.url = this._pieceLocation
        if (this._bearer) {
          let payload = JSON.parse(window.atob(this.storedUser.access_token.split('.')[1]))
          if (payload.exp < Date.now()/1000) {
            localStorage.removeItem("user-storage")
            this.storedUser = null
            this._bearer = ""
          }
        }
        this.$.pieceRequest.headers['Authorization'] = this._bearer
        this.$.pieceRequest.generateRequest()
        this._lastUrl = this._pieceLocation
        this._lastUserName = this.storedUser?this.storedUser.name:undefined
      }

      _handleStoredUserChanged () {
        let bearer = this.storedUser?'Bearer ' + this.storedUser.access_token:""
        if (bearer != this._bearer) {
          this._bearer = bearer
          this._generateRequest()
        }
      }

      _locationChanged () {
          let re = /http[s]?:\/\/[^/]*\/(.*)$/
          let match = re.exec(this.location)
          this._corpusLocalDir = "../../" + match[1] + "/"
      }

      async _pieceInfosHandler (event) {
          // Metadata
          this._error = ""
          this._wsUnreachabledError = ""
          let piece = event.detail.response
          this.name = piece.title;
          this.composer = piece.composer;
          this._timeSignature = piece['time-signature'];
          this._timeSignatureUpbeat = piece['time-signature-upbeat']
          this._piecePermissions = piece.permissions
          if (piece['editor'] != undefined && piece['editor'] == 'dez-edit-bar') {
            if (this.labelBarOn) {
              // bar already present. Only reinit button
              this._initBarButtons()
            } else {
              // editor change to bar editor (dom changed) => complet bar init
              this.labelBarOn = true
            }
          } else {
            this.labelBarOn = false
            this.shadowRoot.querySelector('#editor').timeSignature = {
              numerator: parseInt(this._timeSignature.split('/')[0]) || 4,
              denominator: parseInt(this._timeSignature.split('/')[1]) || 4,
              upbeat: parseFloat(this._timeSignatureUpbeat) || 0
            }
          }
          document.title = this.name + ", " + this.composer + " - Dezrann"

          // remove cursor if it is displayed
          this.$.analysisView.currentDate = undefined

          let audios = piece.sources.audios
          if (audios && audios.length > 0) {
            this._audioVisible = true
            let dir = this._corpusLocalDir + this._pieceId
            this._audioFile = dir + "/" + audios[0].file
            this._audioSynchro = dir + "/" + audios[0]["onset-date"]
          } else {
            this._audioFile = undefined
            this._audioVisible = false
            this._audioSynchro = undefined
          }
          let images = piece.sources.images
          if (images && images.length > 0) {
            this._setSource(images[0])
          } else if (audios && audios[0].images) {
            this._setSource(audios[0].images[0])
          }
          this.$.sourcesSelector.sources = piece.sources
          this.$.analysis.pieceName = this._pieceLocation
      }

      _setSource(source) {
          let dir = this._corpusLocalDir + this._pieceId
          this._type = source.type
          this._imageLocation = dir + "/" + source.image
          this._positionsLocation = dir + "/" + source.positions
      }

      _updateRoute () {
        let debugKey = this._debug?"debug":"";
        this.set('route.path', debugKey + "/" + this._pieceId + "#" + toMeasureRounded(this._onset));
      }

      async _routeChanged(event) {
          let re = /http[s]?:\/\/[^\/]+[\/]?([^#]*)[#]?([a-z]*)[\/]?([^#]*)[#]?([0-9]*)$/
          let match = re.exec(this.baseURI)
          let htmlFile = match[1] || ""
          let mode = match[2] || ""
          let id = match[3] || "bwv847"
          let onset = parseMeasureFrac(match[4] || '0')
          this._debug = mode == "debug"
          this._prefix = '/' + htmlFile + '#' + mode + '/'
          if (id != this._pieceId) {
              if (this.$.analysis.backupNeeded) {
                  this.$.changesWillBeLostDialog.open(
                    () => this._changePiece(id),
                    () => this._updateRoute()
                  )
              } else {
                  await this._changePiece(id)
              }
          }
          if (this._onset == undefined || Math.abs(onset - this._onset) > 6) {
              this._onset = onset;
          }
      }

      async _changePiece (id) {
          this.$.analysisView.removeAnalysis();
          this.$.analysis.backupNeeded = false
          this.$.analysis.erase()
          this.$.analysisView.removePositions();
          this._pieceId = id;
          this._pieceLocation = this.location + "/" + this._pieceId;
          this._generateRequest()
      }

      async ready () {
          super.ready();
          this.$.analysisView.addEventListener('onset-changed', e => this._updateRoute())
          this.$.analysisView.addEventListener('view-ready', e => {
            this._analysesLocation = this._pieceLocation + "/analyses"
          })

          this.$.sourcesSelector.addEventListener('new-source-selected', event => {
            this._setSource(event.detail.source)
          })

          this.$.analysisView.analysis = this.$.analysis
          this.$.analysisControls.analysis = this.$.analysis
          this.$.analysisControls.confirmDialog = this.$.changesWillBeLostDialog
      }

      _initBarButtons () {
        let editBar = this.shadowRoot.querySelector('#editBar')
        let analysis =  this.$.analysis
        let labelTypes = analysis.labelTypes
        let initTagsNames = ["Refrain", "Couplet", "Voix aiguës"]
        labelTypes.neededTags = initTagsNames
        editBar.tags = initTagsNames.map(tag => labelTypes.coloredTag(tag, "Edmus"))
        editBar.activeTag = editBar.tags[0].name
        editBar.selectedInput = undefined
        analysis.currentLabelModel = {type: 'Edmus',tag: editBar.activeTag }
      }

      _initBarEventListeners () {
        let editBar = this.shadowRoot.querySelector('#editBar')
        let analysis =  this.$.analysis
        let labelTypes = analysis.labelTypes

        analysis.addEventListener('analysis-loaded', () => {
          let usedTags = analysis.usedTags
          if (usedTags.length > 0) {
            let names = usedTags.sort((a,b) => b.occurences - a.occurences)
            .slice(0,10)
            .map(tag => tag.name)
            editBar.tags = names.map(name => labelTypes.coloredTag(name, "Edmus"))
            editBar.activeTag = editBar.tags[0].name
            labelTypes.neededTags = names
          }
        })

        analysis.addEventListener('label-selected', event => {
          editBar.activeTag = event.detail.label.tag
          editBar.selectedInput = event.detail.label.tag
        })

        editBar.addEventListener('tags-list-changed', (event) => {
          let names = event.detail.names
          labelTypes.neededTags = names
          // add new tags
          names.filter(
            name => editBar.tags.filter(tag => tag.name == name).length == 0
          ).forEach(name => editBar.tags.push(labelTypes.coloredTag(name, "Edmus")))
          // delete tags
          editBar.tags = editBar.tags.filter(tag => names.includes(tag.name))
        })

        editBar.addEventListener('tag-btn-tap', () => {
          analysis.currentLabelModel = {type: 'Edmus',tag: editBar.activeTag }
          if (this._audioPlayer && this._audioPlayer.playing) {
            let onset = this.$.analysisView.synchro.toOnset(this._audioPlayer.currentTime)
            analysis.addLabel (
              Object.assign(
                analysis.currentLabelModel,
                {
                  duration : 3,
                  start : onset
                }
              )
            )
          }
        })

        editBar.addEventListener('plus-btn-tap', () => {
          editBar.tags.push(labelTypes.coloredTag(editBar.selectedInput, "Edmus"))
          editBar.tags = editBar.tags.filter(v=>true)
          labelTypes.neededTags = editBar.tags.map(t => t.name)
        })

        editBar.addEventListener('selected-input-changed', () => {
          if (editBar.selectedInput != undefined) {
            analysis.setLabel({
              'id': analysis.selectedLabel.id,
              'tag': editBar.selectedInput
            })
          }
        })

      }
      _initRapidEditor () {
        this._initBarButtons()
        this._initBarEventListeners()
      }

      _initAudio () {
        let audioPlayer = this.shadowRoot.querySelector('#audioPlayer')
        audioPlayer.addEventListener('new-step-forward', () => {
          this.$.analysisView.currentDate = audioPlayer.currentTime
          let onset = this.$.analysisView.synchro.toOnset(audioPlayer.currentTime)
          audioPlayer.currentMeasure = 'm' + toMeasureRounded(onset)
        })
        audioPlayer.addEventListener('rewind-pressed', () => {
          this.$.analysisView.currentDate = 0
        })
        this.$.analysisView.addEventListener('current-date-changed', event => {
          audioPlayer.currentTime = this.$.analysisView.currentDate
          this._audioPlayer.currentTime = this.$.analysisView.currentDate
        })
        this._audioPlayer = audioPlayer
      }

      _initEditor () {
        this.shadowRoot.querySelector('#editor').analysis = this.$.analysis
      }

      _initDebug () {
        this.shadowRoot.querySelector('#debug').analysis = this.$.analysis
      }

  }

  window.customElements.define(DezrannApp.is, DezrannApp);

  </script>
</dom-module>
