<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-signals/iron-signals.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<script src="/lib/sc-musical-map.js"></script>
<script src="/lib/sc-musical-time-mp3.js"></script>

<dom-module id="sc-cursor">

    <template>
        <style>
            #red-cursor {
                position: absolute;
                margin-top: 60px;
                width: 1px;
                height: 400px;
                background-color: red;
            }
        </style>

        <!-- TODO : Déterminer quel composant charge la partition -->
        <iron-signals on-iron-signal-player-load="load"></iron-signals>

        <!-- Réception du l'état interne du lecteur -->
        <iron-signals on-iron-signal-player-update="update"></iron-signals>

        <!-- Récupération du document des positions-->
        <iron-ajax id="reqMap" url="/corpus/02/02.json" handle-as="json" on-response="loadPosition" debounce-duration="300"></iron-ajax>
        <iron-ajax id="reqMp3" url="/mp3/02.mp3.json" handle-as="json" on-response="loadTime" debounce-duration="300"></iron-ajax>

        <div id="red-cursor"></div>
    </template>

    <script>
        Polymer({

            is: 'sc-cursor',
            map: new scMusicalMap.MusicalMap(),
            time: undefined,
            load(event, data) {

                if (data.type == 'MIDI')
                    this.time = new scMusicalTime.MusicalTime(100, 4)

                if (data.type == 'MP3') {

                    this.time = new scMusicalTimeMp3.MusicalTimeMP3()
                    this.$.reqMp3.generateRequest()
                }

                this.$.reqMap.generateRequest()

            },
            loadTime(event, data) {

                let map = data.response

                this.time.setMap(map)
                this.time.setBpb(4)
            },
            loadPosition(event, data) {

                let positions = data.response

                this.map.setPositions(positions.notes)
                // this.map.setRatio(390 / 520)
            },
            update(event, data) {

                let k = this.time.toMusicalTime(data.now)

                // Positionnement au début de la mesure
                let l = this.time.firstTimeOfMeasure(k)

                let cursor = this.$['red-cursor']
                let position = this.map.toGraphicalX(l)

                if (l > 8)

                    this.fire('iron-signal', {
                        name: 'scroll',
                        data: {
                            x: l - 8
                        }
                    })

                cursor.style.left = position + 'px';
            }
        })
    </script>

</dom-module>
