<dom-module id="raphael-image-zones">
  <template>
    <style>
    </style>
    <h2>Create movable rectangles on image with zones</h2>
    <div id="image-zones"></div>
  </template>

  <script>
    function Glab (raphRect) {
      var raphRect =
        raphRect
          .attr ({
                    fill: "#f00",
                    stroke: "#fff",
                    opacity: "0.2"
                  });
      this.resize = function (width) {
        raphRect.attr({width: width});
      };
      this.setBehavior = function () {
        raphRect.drag (
          function (dx, dy, x, y, event) {
            if (this.command === "scaleright") {
              var newwidth = this.owidth + dx;
              if (newwidth > 50) {
                this.attr({width: this.owidth + dx});
              }
            } else if (this.command === "scaleleft"){
              var newwidth = this.owidth - dx;
              if (newwidth > 50) {
                this.attr({width: this.owidth - dx, x: this.ox + dx});
              }
            } else { // drag
              this.attr({x: this.ox + dx});
            }
            event.stopPropagation();
          },
          function (x, y, event) {
            if ( x - this.attr("x") < this.attr("width")/4 ) {
              this.command = "scaleleft";
            } else if ( x - this.attr("x") > 3*this.attr("width")/4 ) {
              this.command = "scaleright";
            } else {
              this.command = "drag"
            }
            this.owidth = this.attr("width");
            this.ox = this.attr("x");
            event.stopPropagation();
          }
        );
      };
    }
    function StaffImage (top, bottom) {
      this.top = top;
      this.bottom = bottom;
    }
    function ScoreImage () {
      var raphPaper = Raphael(
        "image-zones", "100%", 210
      );
      var raphImage = raphPaper.image(
        '../../images/02.png', 0,0, 8762/2, 477/2
      ).drag();
      var staffsPos = [
        {"top": 25, "bottom": 75},
        {"top": 85, "bottom": 135},
        {"top": 155, "bottom": 205}
      ];
      _getStaffOn = function (y) {
        var rely = window.pageYOffset + y - document.getElementById("image-zones").offsetTop;
        for (var i = 0; i < staffsPos.length; i++) {
          var top = staffsPos[i].top;
          var bottom = staffsPos[i].bottom;
          if (rely > top && rely < bottom) {
            return new StaffImage(top, bottom);
          }
        }
      }
      this.createGlabOn = function (x, y) {
        var staff = _getStaffOn(y);
        return new Glab(raphPaper.rect(x, staff.top, 0, 50, 10));
      }
    }
    Polymer({

      is: 'raphael-image-zones',
      attached: function () {
        this.scoreImage = new ScoreImage();
      },
      listeners: {
        'track':'track'
      },
      track: function (e) {
        switch(e.detail.state) {
          case 'start':
            this.glab = this.scoreImage.createGlabOn(e.detail.x, e.detail.y)
            break;
          case 'track':
            this.glab.resize(e.detail.dx);
            break;
          case 'end':
            this.glab.setBehavior();
            break;
        }
      }

    });
  </script>
</dom-module>
