<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">

<dom-module id="dez-plus-button">
  <template>
    <style>
    </style>
    <template is="dom-if" if=[[visible]]>
      <paper-icon-button icon="add-box" title="add button for this tag"></paper-icon-button>
    </template>
  </template>

  <script>
    class DezPlusButton extends Polymer.Element {

      static get is() { return 'dez-plus-button'; }

      static get properties() {
        return {
          visible: {
            type: Boolean,
            value: true
          }
        };
      }

    }

    window.customElements.define(DezPlusButton.is, DezPlusButton);
  </script>
</dom-module>
